@using Models1.Model;


@model PagedList<OrderClass>
@{
}
@foreach(var s in Model)
{
    <br><p1>@s.Name , @s.DateСreation , @s.sum , @s.Status</p1><br />
}
@if (Model.HasPreviousPage())
{
    <a asp-action="Orders" asp-route-page="@(Model.CurrentPage-1)">
        <button>
        назад
        </button>
        </a>
}
@if (Model.HasNextPage())
{
    <a asp-action="Orders" asp-route-page="@(Model.CurrentPage+1)">
        <button>
        вперед
        </button>
        </a>
}