@using Models1.Model;


@model PagedList<OrderClass>
@{
}
@foreach(var s in Model)
{
    <p>
   <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#order-@s.Id" aria-expanded="false" aria-controls="collapseExample">
@s.Name , @s.DateСreation , @s.sum , @s.Status
</button>
</p>
<div class="collapse" id="order-@s.Id">
    @foreach(var pos in s.positions)
        {
        <div class="card card-body">
        @pos.Name @pos.OldQuantity @pos.priceOldOrder
        </div>
        }
</div>
   
}
@if (Model.HasPreviousPage())
{
    <a asp-action="Orders" asp-route-page="@(Model.CurrentPage-1)">
        <button>
        назад
        </button>
        </a>
}
@if (Model.HasNextPage())
{
    <a asp-action="Orders" asp-route-page="@(Model.CurrentPage+1)">
        <button>
        вперед
        </button>
        </a>
}