@using Models1.Model;


@model PagedList<OrderClass>
@{
}
 <form method="post">
@foreach(var s in Model)
{
    <p>
   <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#order-@s.Id" aria-expanded="false" >
@s.Name , @s.DateСreation , @(s.sum/100) , @s.Status
</button>
</p>
<input type="checkbox" id="order-@s.Id" name="id"> 
<div class="collapse" id="order-@s.Id">
    @foreach(var pos in s.positions)
        {
        <div class="card card-body">
       
        <input name="id" type="radio" value="name" />
        @pos.Name @pos.OldQuantity @(pos.priceOldOrder/100) руб.
        </div>
        }
</div>
}
<p>
        <input type="submit" value="Отправить" />
</p>
</form>

@if (Model.HasPreviousPage())
{
    <a asp-action="Orders" asp-route-page="@(Model.CurrentPage-1)">
        <button>
        назад
        </button>
        </a>
}
@if (Model.HasNextPage())
{
    <a asp-action="Orders" asp-route-page="@(Model.CurrentPage+1)">
        <button>
        вперед
        </button>
        </a>
}